$primary-color: #003b44;
$no-color: transparent;
$off-white: rgba(255, 255, 255, 0.5);
$white: #ffffff;
$heading-gray: #3d3d3d;
$icon-gray: #b7b7b7;
$light-gray: #e3e3e3;
$table-row-gray: #efefef;
$card-font-blue: #003b44;
$card-font-gray: #7a7a7a;
$card-background-gray: #fafafa;
$gist-create-input-border: #a3a3a3;
