@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/mixins.scss";

.navbar {
  @include grid(70% 30%, 1fr, initial);
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: $primary-color;
  padding: 0 30px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.search-and-login {
  @include flexBox(row, center, initial, 3.2rem);
  height: 40px;
  width: 100%;
}
.search {
  @include flexBox(row, center, initial, 5px);
  border: 1px solid $off-white;
  padding: 8px;
  width: 70%;
  border-radius: 4px;
  input {
    background-color: $no-color;
    border: none;
    width: 80%;
    color: $white;
    &::placeholder {
      color: $off-white;
      font-family: "Inter-Regular";
      font-size: 1.4rem;
    }
    &:focus {
      outline: none;
    }
  }
  .search-icon {
    color: $off-white;
  }
}

.login-button {
  height: 100%;
  background-color: $white;
  border: none;
  padding: 8px 32px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Inter-SemiBold";
  font-size: 1.4rem;
  color: $primary-color;
}
