<div class="navbar">
  <div>
    <img
      src="../../assets/images/Emumba Logo.svg"
      alt="emumba-logo"
      routerLink="/"
      class="emumba-logo"
    />
  </div>
  <div class="search-and-login">
    <div class="search">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" placeholder="Search" />
    </div>
    <button *ngIf="!user" class="login-button" (click)="signInWithGitHub()">
      Login
    </button>
    <div *ngIf="user" class="avatar-and-menu">
      <img
        class="user-avatar"
        [src]="user['avatar_url']"
        (click)="toggleShowMenu()"
      />
      <div class="menu" *ngIf="showMenu">
        <ul>
          <li>
            Signed in as <br />
            <strong>{{ user.login }}</strong>
          </li>
          <hr />
          <li routerLink="gists">Your Gists</li>
          <li>Starred Gists</li>
          <li (click)="goToGithubProfile()">Your Github Profile</li>
          <li routerLink="/create-gist">Create Gist</li>
          <hr />
          <li>
            <a href="https://support.github.com/" target="_blank">Help</a>
          </li>
          <li (click)="signOut()">Signout</li>
        </ul>
      </div>
    </div>
  </div>
</div>
