<div class="navbar">
  <div>
    <img
      src="../../assets/images/Emumba Logo.svg"
      alt="emumba-logo"
      routerLink="/"
      class="emumba-logo"
    />
  </div>
  <div class="search-and-login">
    <div class="search">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" placeholder="Search" />
    </div>
    <button *ngIf="!user" class="login-button" (click)="signInWithGitHub()">
      Login
    </button>
    <img *ngIf="user" class="user-avatar" [src]="user.photoURL" />
  </div>
</div>
