<div class="cards-wrapper" *ngIf="cards">
  <div
    class="card"
    [style.width]="cardWidth"
    *ngFor="let card of cards"
    (click)="openGistView(card.gistId)"
  >
    <div class="json">
      <pre class="line-numbers"><code>{{card.json}}</code></pre>
    </div>
    <div class="gist-description">
      <img class="avatar" [src]="card.avatar" alt="" />
      <div>
        <p class="author-and-gist-name">
          {{ card.name | truncate : 16 }} /
          <strong>{{ card.gistName | truncate : 16 }}</strong>
        </p>
        <p class="sub-description">Created {{ card.created }}</p>
        <p class="sub-description">
          {{ card.description | truncate : 40 }}
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!cards">No Data Avaliable</div>

<div class="loader" *ngIf="loading"></div>
<!-- <div class="next-previous">
  <button
    class="btn secondary-btn"
    (click)="previousPage()"
  >
    Previous
  </button>
  <button
    class="btn primary-btn"
    (click)="nextPage()"
  >
    Next
  </button>
</div> -->
