@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/colors.scss";

.cards-wrapper {
  @include flexBox(initial, initial, space-between, 15px);
  width: 100%;
  flex-wrap: wrap;
  .card {
    @include flexBox(column, initial, initial, 10px);
    width: 30%;
    border: 1px solid $table-row-gray;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px $table-row-gray;
    }
    .json {
      height: 182px;
      background-color: $card-background-gray;
      padding: 8px;
      overflow: hidden;
      code {
        font-size: 1.1rem;
        line-height: 15px;
      }
    }
  }
}

.next-previous {
  @include flexBox(row, center, space-between, 0);
  width: 100%;
  margin-top: 10px;
}
