<div class="cards-wrapper">
  <div
    class="card"
    *ngFor="let card of cards"
    (click)="openGistView(card)"
  >
    <div class="json">
      <pre
        #jsonBlock
        class="line-numbers"
      ><code class="language-csv">{{card.json}}</code></pre>
    </div>
    <div class="gist-description">
      <img class="avatar" [src]="card.avatar" alt="" />
      <div>
        <p class="author-and-gist-name">
          {{ card.name | truncate : 16 }} /
          <strong>{{ card.gistName | truncate : 16 }}</strong>
        </p>
        <p class="sub-description">Created {{ card.created }}</p>
        <p class="sub-description">
          {{ card.description | truncate : 40 }}
        </p>
      </div>
    </div>
  </div>
</div>
