<div *ngIf="gist" class="gist-view">
  <div class="gist-description">
    <img class="avatar" [src]="gist.avatar" alt="" />
    <div>
      <p class="author-and-gist-name">
        {{ gist.name }} /
        <strong>{{ gist.gistName }}</strong>
      </p>
      <p class="sub-description">Created {{ gist.created }}</p>
      <p class="sub-description">
        {{ gist.description }}
      </p>
    </div>
  </div>

  <div class="gist-preview">
    <div class="filename"></div>
    <div class="code">
      <pre class="line-numbers"><code>{{ gist.json }}</code></pre>
    </div>
  </div>
</div>
