@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/colors.scss";

.gist-view {
  @include flexBox(column, initial, initial, 10px);
  .gist-preview {
    width: 100%;
    background-color: $card-background-gray;
    border-radius: 20px;

    .filename {
      height: 50px;
      width: 100%;
      border-bottom: 1px solid gray;
    }
    .code {
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      code {
        font-size: 1.4rem;
      }
    }
  }
}
