@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/colors.scss";

.gist-view {
  @include flexBox(column, initial, initial, 10px);
  .gist-preview {
    width: 100%;
    background-color: $card-background-gray;
    border-radius: 20px;

    .filename {
      height: 50px;
      width: 100%;
      border-bottom: 1px solid gray;
    }
    .code {
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      code {
        font-size: 1.4rem;
      }
    }
  }

  .gist-description {
    @include grid(40% 30%, initial, 0);
    justify-content: space-between;
    height: 100%;
    .fork-and-star-div {
      @include flexBox(row, center, initial, 10px);
      justify-content: right;

      .fork-star {
        @include flexBox(row, center, initial, 10px);
        width: 40%;
        // height: 100%;

        border: 1px solid $primary-color;
        border-radius: 4px;
        overflow: hidden;
        &:hover{
          cursor: pointer;
        }
        div {
          font-family: "Inter-SemiBold";
          font-size: 1.4rem;
          &:first-of-type {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;

            padding: 8px 16px;
            color: $white;
            height: 100%;
            width: 60%;
            background-color: $primary-color;
          }
          &:last-of-type {
            width: 40%;
            margin: auto;
            background-color: $white;
          }
        }
      }
    }
  }
}
