@import "../../../assets/scss/mixins.scss";
.main-div {
  @include flexBox(row, initial, center, 40px);
  .profile {
    @include flexBox(column, center, initial, 10px);
    width: 30%;
    .user-photo {
      border-radius: 50%;
      width: 100%;
      aspect-ratio: 1;
    }
    h2 {
      font-family: "Inter-Regular";
      font-weight: 400;
      font-size: 2.5rem;
    }
    button {
      width: 80%;
      text-decoration: none;
      text-align: center;
    }
  }
  .gists-section {
    @include flexBox(column, initial, initial, 20px);
    width: 100%;

    .gists-heading {
      @include flexBox(row, center, initial, 10px);

      h1 {
        font-family: "Inter-Regular";
        font-weight: 400;
        font-size: 2.5rem;
      }
    }
  }
}
