<div class="main-div">
  <div class="profile">
    <img class="user-photo" [src]="user.image" alt="" />
    <h2>{{ user.name }}</h2>
    <button class="btn primary-btn" (click)="goToGithubProfile()">
      View Full Profile
    </button>
  </div>
  <div class="gists-section">
    <div class="gists-heading">
      <h1>{{ gistsHeading }}</h1>
      <div class="counter">{{ gists.length }}</div>
    </div>
    <div class="cards" *ngIf="gists">
      <app-gist-cards [publicGists]="gists" cardWidth="100%"></app-gist-cards>
    </div>
  </div>
</div>
