/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./assets/scss/colors.scss";
@import "./assets/scss/mixins.scss";

html {
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: $primary-color $white;
}

body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500; // Medium weight
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600; // SemiBold weight
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700; // Bold weight
  font-style: normal;
}

.loader {
  margin: auto;
  width: 100px;
  height: 100px;
  border: 5px solid $primary-color;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gist-description {
  @include grid(30px 1fr, 1fr, 15px);
  padding: 8px;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .avatar {
    width: 35px;
    aspect-ratio: 1;
    border-radius: 100%;
  }
  .author-and-gist-name {
    font-family: "Inter-Regular";
    color: $card-font-blue;
    font-size: 1.4rem;
    margin-top: 0;
  }
  .sub-description {
    font-family: "Inter-Regular";
    font-size: 1.1rem;
    color: $card-font-gray;
    margin: 0 0 5px 0;
  }
}

.btn {
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  font-family: "Inter-Bold";
  font-size: 1.4rem;
  &:hover {
    cursor: pointer;
  }
}
.secondary-btn {
  background-color: $table-row-gray;
  color: $primary-color;
}
.primary-btn {
  background-color: $primary-color;
  color: $white;
}

code {
  font-family: "Inter-Regular";
}

// .line-numbers {
//   counter-reset: line;
//   position: relative;
//   overflow-x: auto;

//   code {
//     display: block;
//     padding-left: 2.5em; /* Space for line numbers */
//     &:before {
//       content: counter(line) " ";
//       counter-increment: line;
//       position: absolute;
//       left: 0;
//       top: 0;
//       padding-right: 10px;
//       color: #888; /* Light grey for numbers */
//     }
//   }
// }
