@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/mixins.scss";

.main-div {
  @include flexBox(column, initial, initial, 20px);
  .heading {
    font-family: "Inter-Regular";
    font-size: 2.5rem;
    font-weight: 400;
    color: $heading-gray;
  }

  .form-wrapper {
    @include flexBox(row, initial, center, 0px);
    width: 100%;
    .form {
      @include flexBox(column, initial, initial, 10px);
      width: 60%;

      input {
        height: 40px;
        padding: 0 5px;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: "Inter-Regular";
        font-size: 1.4rem;
        color: $icon-gray;
        border: 1px solid $gist-create-input-border;
        &:focus {
          outline: none;
        }
      }

      .files{
        @include flexBox(column, initial, initial, 10px)
      }

      .description-input {
        width: 100%;
      }
      .action-btns {
        @include flexBox(row, center, space-between, 0);
        width: 100%;
      }

      .file-wrapper {
        .input-and-delete {
          @include flexBox(row, center, initial, 5px);
          border: 1px solid $table-row-gray;
          background-color: $card-background-gray;
          padding: 5px;
          border-radius: 4px 4px 0 0;

          .delete-icon {
            &:hover {
              cursor: pointer;
            }
          }
        }
        .coding-space {
          border: 1px solid $table-row-gray;
          border-radius: 0 0 4px 4px;
          height: 200px;
        }
      }
    }
  }
}

.error {
  font-family: "Inter-Regular";
  font-size: 1.6rem;
}
